- var debugSNS = true
if (debugSNS || theme.social.twitter)
    a(title="twitter" target="_blank" rel="noopener nofollow" href=`//twitter.com/${theme.social.twitter}`)
        i.fa.fa-brands.fa-twitter.icon
if (debugSNS || theme.social.github)
    a(title="github" target="_blank" rel="noopener nofollow" href=`//github.com/${theme.social.github}`)
        i.fa.fa-brands.fa-github.icon
if (debugSNS || theme.social.instagram)
    a(title="instagram" target="_blank" rel="noopener nofollow" href=`//www.instagram.com/${theme.social.instagram}`)
        i.fa.fa-brands.fa-instagram.icon
if (debugSNS || theme.social.linkedin)
    a(title="linkedin" target="_blank" rel="noopener nofollow" href=`//www.linkedin.com/in/${theme.social.linkedin}`)
        i.fa.fa-brands.fa-linkedin.icon
if (debugSNS || theme.social.facebook)
    a(title="facebook" target="_blank" rel="noopener nofollow" href=`//www.facebook.com/${theme.social.facebook}`)
        i.fa.fa-brands.fa-facebook.icon
        
if (debugSNS || theme.social.mail)
    a(title="mail" target="_blank" rel="noopener nofollow" href=`mailto:${theme.social.mail}`)
        i.fa.fa-solid.fa-envelope-open.icon

if (debugSNS || theme.social.whatsapp)
    a(title="whatsapp" target="_blank" rel="noopener nofollow" href=`//wa.me/${theme.social.phone}`)
        i.fa.fa-brands.fa-whatsapp.icon

if (debugSNS || theme.social.telegram)
    a(title="telegram" target="_blank" rel="noopener nofollow" href=`//t.me/${theme.social.telegram}`)
        i.fa.fa-brands.fa-telegram.icon
        
